<div class="container-fluid">
  <div class="position-relative mb-5">
    <div class="position-absolute top-0 end-0">
      <button type="button" class="btn btn-outline-primary me-2" data-bs-toggle="modal" data-bs-target="#AddEtudiant"><i
          class="bi bi-plus-square"></i> &nbsp; Ajouter Note à L'Etudiant</button>
    </div>
  </div>
  <div class="modal fade" id="AddEtudiant" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ajouter Notes à L'etudiant </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="card border-0 shadow p-3">

            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="firstName" name="firstname" [(ngModel)]="first_name">
              <label for="firstname">Prenom</label>
            </div>
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="lastName" name="lastName" [(ngModel)]="last_name">
              <label for="lastName">Nom</label>
            </div>
            <div class="form-floating mb-3">
              <option value=""> Selectionner la filiere</option>
              <select class="form-select" label="Selectionner la Filière" [(ngModel)]="filiere"
                aria-label="Default select example">
                <option selected>GIT</option>
                <option value="GME">GME</option>
                <option value="GEEA">GEEA</option>
                <option value="GEOLOGIE">GEOLOGIE</option>
                <option value="GENIE CIVIL">GENIE CIVIL</option>
                <option value="TOPOLOGIE">TOPOLOGIE</option>
              </select>
            </div>
            <div class="form-floating mb-3">
              <option value="">Selectionner la Classe</option>
              <select class="form-select" [(ngModel)]="classe" aria-label="Default select example">
                <option value="DUT">DUT</option>
                <option value="TECHNICIEN SUPERIEUR">TECHNICIEN SUPERIEUR</option>
                <option value="LICENCE 1">LICENCE 1</option>
                <option value="LICENCE 2">LICENCE 2</option>
                <option value="LICENCE 3">LICENCE 3</option>
                <option value="MASTER 1">MASTER 1</option>
                <option value="MASTER 2">MASTER 2</option>
              </select>
            </div>
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="matiere" name="matiere" [(ngModel)]="matiere">
              <label for="matiere"> Matiere </label>
            </div>
            <div class="form-floating mb-3">
              <input type="number" class="form-control" id="examen" name="Devoir" [(ngModel)]="Devoir">
              <label for="devoir"> Note Devoir </label>
            </div>
            <div class="form-floating mb-3">
              <input type="number" class="form-control" id="examen" name="Examen" [(ngModel)]="Examen">
              <label for="devoir"> Note Examen </label>
            </div>
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="tel" name="tel" [(ngModel)]="tel">
              <label for="tel"> Tel </label>
            </div>
            <div class="form-floating mb-3">
              <input type="email" class="form-control" id="email" name="email" [(ngModel)]="email">
              <label for="email">Email</label>
            </div>

            <button type="button" class="btn btn-outline-success" (click)="addStudent()"
              data-bs-dismiss="modal">Enregistrer</button>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row mt-5">
    <div class="col mt-2">
      <div class="card-header">
        <h5 class="text-secondary "> Liste Etudiant</h5>
      </div>
      <div class="card p-3 shadow">

        <div class="card-body">

          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Prenom</th>
                <th scope="col">Nom</th>
                <th scope="col">Filiere</th>
                <th scope="col">Classe</th>
                <th scope="col">Mtiere</th>
                <th scope="col">Note Devoir</th>
                <th scope="col">Note Examen</th>
                <th scope="col">Telephone</th>
                <th scope="col">Email</th>
                <th scope="col" *ngIf="!auth.isAdmin">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let studnet of studentsList">
                <td>{{studnet.first_name}}</td>
                <td>{{studnet.last_name}}</td>
                <td>{{studnet.filiere}}</td>
                <td>{{studnet.classe}}</td>
                <td>{{studnet.matiere}}</td>
                <td>{{studnet.Examen}}</td>
                <td>{{studnet.Devoir}}</td>
                <td>{{studnet.tel}}</td>
                <td>{{studnet.email}}</td>
                <td><button type="button" class="btn btn-outline-primary me-2" data-bs-toggle="modal"
                    data-bs-target="#editEmployee" (click)="editEmployee(studnet)"><i class="bi bi-pencil"></i></button>
                </td>
                <td>

                  <button class="btn btn-outline-danger" (click)="deleteStudent(studnet)"><i class="bi bi-trash"></i></button>
                </td>


              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="editEmployee" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modifier Les Notes de L'etudiant </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="etudDetail">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label"> Prenom </label>
              <input type="text" formControlName="first_name" class="form-control" id="first_name"
                aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Nom </label>
              <input type="text" formControlName="last_name" class="form-control" id="last_name"
                aria-describedby="emailHelp">
            </div>
            <div class="form-floating mb-3">
              <select class="form-select" formControlName="filiere" aria-label="Default select example">
                <option selected>Selection La Filiere </option>
                <option value="GIT">GIT</option>
                <option value="GME">GME</option>
                <option value="GEEA">GEEA</option>
                <option value="GEOLOGIE">GEOLOGIE</option>
                <option value="GENIE CIVIL">GENIE CIVIL</option>
                <option value="TOPOLOGIE">TOPOLOGIE</option>
              </select>
            </div>
            <div class="form-floating mb-3">
              <select class="form-select" formControlName="classe" aria-label="Default select example">
                <option selected>Selection La Classe </option>
                <option value="DUT">DUT</option>
                <option value="TECHNICIEN SUPERIEUR">TECHNICIEN SUPERIEUR</option>
                <option value="LICENCE 1">LICENCE 1</option>
                <option value="LICENCE 2">LICENCE 2</option>
                <option value="LICENCE 3">LICENCE 3</option>
                <option value="MASTER 1">MASTER 1</option>
                <option value="MASTER 2">MASTER 2</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Note Devoir </label>
              <input type="number" formControlName="Devoir" class="form-control" id="devoir"
                aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Tel </label>
              <input type="number" formControlName="Examen" class="form-control" id="examen"
                aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Tel </label>
              <input type="text" formControlName="tel" class="form-control" id="tel" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email </label>
              <input type="email" formControlName="email" class="form-control" id="email" aria-describedby="emailHelp">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
              <button type="button" class="btn btn-outline-success" (click)="updateStudent()"
                data-bs-dismiss="modal">Mettre à jour </button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>